<h4 class="mb-3">Incidents</h4>
<p-table [value]="incidents" [paginator]="false">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
        Hajj ID
      </th>
      <th>
        Location
      </th>
      <th>
        Action
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td data-label="Hajj Id">
        {{ rowData["profileCode"] }}
      </td>
      <td data-label="Location">
        {{ rowData["location"] }}
      </td>
      <td data-label="Actions">
        <button type="button" class="btn btn-link" (click)="more(rowData['description'])">More..</button>
        <button type="button" class="btn btn-link" (click)="search(rowData['profileCode'])">View Records</button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-col>
    <tr>
      <td style="text-align: center;" colspan="3">
        No Records
      </td>
    </tr>
  </ng-template>
</p-table>
<div>
  <p-dialog header="Description" [(visible)]="display" [modal]="true" [responsive]="true" [width]="500" [minWidth]="200" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <div>
      {{ description }}
    </div>

    <p-footer>
      <button type="button" class="btn btn-primary" (click)="closeDialog()"> Close </button>
    </p-footer>
  </p-dialog>
</div>